벤처확인유형
엔젤투자자 혹은 액셀러레이터 투자 경험여부
창업당시 창업자 최종학력
창업 직전 근무지
부서별_인력구성(생산)
부서별_인력구성(RnD)
총자산회전율
순이익률
ROE
주력제품국내시장점유율(퍼센트)
학력별 인력구성비(대졸)
창업 당시 목표시장
해외수출 및 진출과정 애로사항
연구개발부서 -> 추가해서 아래 내용 다시 진행

데이터프레임 -> 원핫인코딩 -> 샘플링 (인코딩과 샘플링 순서는 생각) -> 스케일링 -> 교차검증 -> SHAP

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('../data/완성data/select_data.csv')

In [4]:
data

,벤처확인 유형,엔젤투자자 혹은 액셀러레이터 투자 경험여부,창업 당시 창업자 최종학력,창업 직전 근무지,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),창업 당시 목표시장,해외수출 및 진출과정 애로사항,벤처캐피털(투자조합포함) 투자 경험여부
0,3,0,3,6,0.000,40.000,0.056,-1739.260,360.366,1.00,46.667,1.0,2.0,1
1,1,0,4,6,0.000,20.000,182.613,3.063,20.487,1.00,20.000,1.0,8.0,0
2,2,0,2,6,0.000,13.333,47.157,8.065,5.656,10.00,13.333,1.0,4.0,0
3,2,0,2,6,26.627,23.669,55.927,-6.119,-13.836,30.00,20.000,3.0,3.0,0
4,2,0,2,6,28.182,22.727,69.228,-11.386,-16.891,30.00,20.000,3.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12379,1,0,3,6,0.000,36.364,78.543,-11.720,-26.679,0.01,81.818,1.0,1.0,0
12380,2,0,3,10,50.000,6.667,603.905,2.822,44.500,15.00,40.000,3.0,2.0,0
12381,2,0,3,6,0.000,1.923,385.063,-0.801,-15.723,1.00,48.077,1.0,5.0,0
12382,2,0,3,5,0.000,20.690,511.376,2.205,37.902,5.00,90.000,1.0,2.0,0
12383,2,0,3,5,0.000,2.632,385.063,-0.801,-15.723,15.00,21.711,1.0,7.0,0

In [5]:
data.columns

Index(['벤처확인 유형', '엔젤투자자 혹은 액셀러레이터 투자 경험여부', '창업 당시 창업자 최종학력', '창업 직전 근무지',
       '부서별_인력구성(생산)', '부서별_인력구성(RnD)', '총자산회전율', '순이익률', 'ROE',
       '주력제품 국내 시장점유율(퍼센트)', '학력별 인력구성비(대졸)', '창업 당시 목표시장', '해외수출 및 진출과정 애로사항',
       '벤처캐피털(투자조합포함) 투자 경험여부'],
      dtype='object')

In [6]:
# 원하는 컬럼 순서 지정
col = ['부서별_인력구성(생산)', '부서별_인력구성(RnD)', '총자산회전율', '순이익률', 'ROE',
       '주력제품 국내 시장점유율(퍼센트)', '학력별 인력구성비(대졸)',
       '엔젤투자자 혹은 액셀러레이터 투자 경험여부', '창업 당시 창업자 최종학력', '창업 직전 근무지',
       '창업 당시 목표시장', '해외수출 및 진출과정 애로사항', '벤처확인 유형',
       '벤처캐피털(투자조합포함) 투자 경험여부']

# 컬럼 순서 변경
data = data.reindex(columns=col)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12384 entries, 0 to 12383
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   부서별_인력구성(생산)             12384 non-null  float64
 1   부서별_인력구성(RnD)            12384 non-null  float64
 2   총자산회전율                   12384 non-null  float64
 3   순이익률                     12384 non-null  float64
 4   ROE                      12384 non-null  float64
 5   주력제품 국내 시장점유율(퍼센트)       12384 non-null  float64
 6   학력별 인력구성비(대졸)            12384 non-null  float64
 7   엔젤투자자 혹은 액셀러레이터 투자 경험여부  12384 non-null  int64
 8   창업 당시 창업자 최종학력           12384 non-null  int64
 9   창업 직전 근무지                12384 non-null  int64
 10  창업 당시 목표시장               12384 non-null  float64
 11  해외수출 및 진출과정 애로사항         12384 non-null  float64
 12  벤처확인 유형                  12384 non-null  int64
 13  벤처캐피털(투자조합포함) 투자 경험여부    12384 non-null  int64
dtypes: float64(9), int64(5)
memory usage: 1.3 MB

In [8]:
data['창업 당시 목표시장'] = data['창업 당시 목표시장'].astype('int64')
data['해외수출 및 진출과정 애로사항'] = data['해외수출 및 진출과정 애로사항'].astype('int64')

# One-hot Encodig

In [9]:
# 원-핫 인코딩 적용
df = pd.get_dummies(data, columns=['창업 당시 창업자 최종학력', '창업 직전 근무지', '창업 당시 목표시장', '해외수출 및 진출과정 애로사항', '벤처확인 유형'])
df

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),엔젤투자자 혹은 액셀러레이터 투자 경험여부,벤처캐피털(투자조합포함) 투자 경험여부,창업 당시 창업자 최종학력_1,...,해외수출 및 진출과정 애로사항_3,해외수출 및 진출과정 애로사항_4,해외수출 및 진출과정 애로사항_5,해외수출 및 진출과정 애로사항_6,해외수출 및 진출과정 애로사항_7,해외수출 및 진출과정 애로사항_8,벤처확인 유형_1,벤처확인 유형_2,벤처확인 유형_3,벤처확인 유형_4
0,0.000,40.000,0.056,-1739.260,360.366,1.00,46.667,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,0.000,20.000,182.613,3.063,20.487,1.00,20.000,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,0.000,13.333,47.157,8.065,5.656,10.00,13.333,0,0,0,...,0,1,0,0,0,0,0,1,0,0
3,26.627,23.669,55.927,-6.119,-13.836,30.00,20.000,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,28.182,22.727,69.228,-11.386,-16.891,30.00,20.000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12379,0.000,36.364,78.543,-11.720,-26.679,0.01,81.818,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12380,50.000,6.667,603.905,2.822,44.500,15.00,40.000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12381,0.000,1.923,385.063,-0.801,-15.723,1.00,48.077,0,0,0,...,0,0,1,0,0,0,0,1,0,0
12382,0.000,20.690,511.376,2.205,37.902,5.00,90.000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
12383,0.000,2.632,385.063,-0.801,-15.723,15.00,21.711,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [10]:
df = df[[col for col in df.columns if col != '벤처캐피털(투자조합포함) 투자 경험여부'] + ['벤처캐피털(투자조합포함) 투자 경험여부']]

In [11]:
df

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),엔젤투자자 혹은 액셀러레이터 투자 경험여부,창업 당시 창업자 최종학력_1,창업 당시 창업자 최종학력_2,...,해외수출 및 진출과정 애로사항_4,해외수출 및 진출과정 애로사항_5,해외수출 및 진출과정 애로사항_6,해외수출 및 진출과정 애로사항_7,해외수출 및 진출과정 애로사항_8,벤처확인 유형_1,벤처확인 유형_2,벤처확인 유형_3,벤처확인 유형_4,벤처캐피털(투자조합포함) 투자 경험여부
0,0.000,40.000,0.056,-1739.260,360.366,1.00,46.667,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0.000,20.000,182.613,3.063,20.487,1.00,20.000,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,0.000,13.333,47.157,8.065,5.656,10.00,13.333,0,0,1,...,1,0,0,0,0,0,1,0,0,0
3,26.627,23.669,55.927,-6.119,-13.836,30.00,20.000,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28.182,22.727,69.228,-11.386,-16.891,30.00,20.000,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12379,0.000,36.364,78.543,-11.720,-26.679,0.01,81.818,0,0,0,...,0,0,0,0,0,1,0,0,0,0
12380,50.000,6.667,603.905,2.822,44.500,15.00,40.000,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12381,0.000,1.923,385.063,-0.801,-15.723,1.00,48.077,0,0,0,...,0,1,0,0,0,0,1,0,0,0
12382,0.000,20.690,511.376,2.205,37.902,5.00,90.000,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12383,0.000,2.632,385.063,-0.801,-15.723,15.00,21.711,0,0,0,...,0,0,0,1,0,0,1,0,0,0

# OverSampling

In [12]:
from imblearn.over_sampling import RandomOverSampler

# 원본데이터(12384개)

# 독립변수와 종속변수 설정
X = df.iloc[:,:-1]
y = df['벤처캐피털(투자조합포함) 투자 경험여부']

# Random Oversampler 객체 생성
ros = RandomOverSampler(random_state=0)

# Random Oversampling 적용
X_resampled, y_resampled = ros.fit_resample(X, y)

# 오버샘플링 적용 후의 데이터셋 확인
print(X_resampled.shape, y_resampled.shape)

(22934, 38) (22934,)

In [13]:
# 오버샘플링된 데이터를 데이터프레임으로 변환
df_resampled = pd.DataFrame(X_resampled, columns=X.columns)
df_resampled['벤처캐피털(투자조합포함) 투자 경험여부'] = y_resampled

pd.reset_option('display.max_rows', None)
df_resampled

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),엔젤투자자 혹은 액셀러레이터 투자 경험여부,창업 당시 창업자 최종학력_1,창업 당시 창업자 최종학력_2,...,해외수출 및 진출과정 애로사항_4,해외수출 및 진출과정 애로사항_5,해외수출 및 진출과정 애로사항_6,해외수출 및 진출과정 애로사항_7,해외수출 및 진출과정 애로사항_8,벤처확인 유형_1,벤처확인 유형_2,벤처확인 유형_3,벤처확인 유형_4,벤처캐피털(투자조합포함) 투자 경험여부
0,0.000,40.000,0.056,-1739.260,360.366,1.0,46.667,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0.000,20.000,182.613,3.063,20.487,1.0,20.000,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,0.000,13.333,47.157,8.065,5.656,10.0,13.333,0,0,1,...,1,0,0,0,0,0,1,0,0,0
3,26.627,23.669,55.927,-6.119,-13.836,30.0,20.000,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,28.182,22.727,69.228,-11.386,-16.891,30.0,20.000,0,0,1,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22929,21.951,16.260,70.325,12.348,9.960,0.1,52.033,0,0,0,...,0,0,0,1,0,0,1,0,0,1
22930,17.857,7.143,90.675,23.865,23.836,15.0,42.857,0,0,0,...,0,0,0,1,0,0,1,0,0,1
22931,81.538,2.564,135.511,-2.210,-36.709,5.0,26.667,0,0,0,...,0,0,0,0,0,0,0,1,0,1
22932,56.000,20.000,46.206,-94.850,-125.154,10.0,32.000,0,1,0,...,0,0,0,1,0,0,0,0,1,1
22933,0.000,83.333,175.735,-24.895,-383.871,1.0,0.000,0,1,0,...,0,0,0,0,0,0,1,0,0,1

In [15]:
# df_resampled.to_csv('sampling_data.csv', index=False)

# Scaling

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
tran_df = df_resampled.iloc[:,0:7]

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸)
0,0.000,40.000,0.056,-1739.260,360.366,1.0,46.667
1,0.000,20.000,182.613,3.063,20.487,1.0,20.000
2,0.000,13.333,47.157,8.065,5.656,10.0,13.333
3,26.627,23.669,55.927,-6.119,-13.836,30.0,20.000
4,28.182,22.727,69.228,-11.386,-16.891,30.0,20.000
...,...,...,...,...,...,...,...
22929,21.951,16.260,70.325,12.348,9.960,0.1,52.033
22930,17.857,7.143,90.675,23.865,23.836,15.0,42.857
22931,81.538,2.564,135.511,-2.210,-36.709,5.0,26.667
22932,56.000,20.000,46.206,-94.850,-125.154,10.0,32.000
22933,0.000,83.333,175.735,-24.895,-383.871,1.0,0.000