In [54]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [235]:
df = pd.read_csv('../data/pre_/(완)data.csv')

In [236]:
df = df[[col for col in df.columns if col != '벤처캐피털(투자조합포함) 투자 경험여부'] + ['벤처캐피털(투자조합포함) 투자 경험여부']]

In [8]:
# df.to_csv('paddata.csv', index=False, encoding='utf-8')

## Dtype 변경

#### 범주형 데이터 float -> int

In [ ]:
df.iloc[:, 7:10] = df.iloc[:, 7:10].astype('Int64', errors='ignore')
df.iloc[:, 15:18] = df.iloc[:, 15:18].astype('Int64', errors='ignore')
df['융자(정책)_경험여부'] = df['융자(정책)_경험여부'].astype('Int64', errors='ignore')
df.iloc[:, 33:38] = df.iloc[:, 33:38].astype('Int64', errors='ignore')
df['경영상 애로사항_산-학-연 간 협력활동'] = df['경영상 애로사항_산-학-연 간 협력활동'].astype('Int64', errors='ignore')
df['인수합병(MnA) 경험여부'] = df['인수합병(MnA) 경험여부'].astype('Int64', errors='ignore')
df['스톡옵션상황'] = df['스톡옵션상황'].astype('Int64', errors='ignore')
df.iloc[:, 98:102] = df.iloc[:, 98:102].astype('Int64', errors='ignore')
df['실천하고있는사회적책임'] = df['실천하고있는사회적책임'].astype('Int64', errors='ignore')
df.iloc[:, 114:118] = df.iloc[:, 114:118].astype('Int64', errors='ignore')

In [ ]:
df.iloc[:, 7:10] = df.iloc[:, 7:10].astype('Int64')
df.iloc[:, 15:18] = df.iloc[:, 15:18].astype('Int64')
df['융자(정책)_경험여부'] = df['융자(정책)_경험여부'].astype('Int64')
df.iloc[:, 33:38] = df.iloc[:, 33:38].astype('Int64')
df['경영상 애로사항_산-학-연 간 협력활동'] = df['경영상 애로사항_산-학-연 간 협력활동'].astype('Int64')
df['인수합병(MnA) 경험여부'] = df['인수합병(MnA) 경험여부'].astype('Int64')
df['스톡옵션상황'] = df['스톡옵션상황'].astype('Int64')
df.iloc[:, 98:102] = df.iloc[:, 98:102].astype('Int64')
df['실천하고있는사회적책임'] = df['실천하고있는사회적책임'].astype('Int64')
df.iloc[:, 114:118] = df.iloc[:, 114:118].astype('Int64')

In [237]:
df['벤처캐피털(투자조합포함) 투자 경험여부'] = df['벤처캐피털(투자조합포함) 투자 경험여부'].astype('Int64')

In [238]:
df['상장여부 및 향후계획'] = df['상장여부 및 향후계획'].astype('Int64')

In [239]:
df['엔젤투자자 혹은 액셀러레이터 투자 경험여부'] = df['엔젤투자자 혹은 액셀러레이터 투자 경험여부'].astype('Int64')

In [112]:
pd.set_option('display.max_seq_items', None)
df.columns

Index(['가중치', '벤처확인 유형', '회사주소_시(도)', '한국표준산업분류(KSIC)코드_10차', '창업년도', '기업성장단계',
       '제조 및 비제조', '상장여부 및 향후계획', '대표이사_창업자여부', '대표이사_이전근무지', '창업자 성별',
       '창업 당시 창업자 연령', '창업 당시 창업자 최종학력', '창업 직전 근무지', '창업방식', '단독창업 여부',
       '창업 당시 목표시장', '창업 당시 창업자 실무경험 년수(년)', '창업자 과거창업 경험 여부',
       '학력별 인력구성비(고졸이하)', '학력별 인력구성비(전문대졸)', '학력별 인력구성비(대졸)', '학력별 인력구성비(석사)',
       '학력별 인력구성비(박사)', '지분구조(퍼센트)_창업자', '지분구조(퍼센트)_임직원', '지분구조(퍼센트)_가족',
       '지분구조(퍼센트)_벤처캐피털 및 기관투자자', '지분구조(퍼센트)_엔젤 및 액셀러레이터', '지분구조(퍼센트)_개인투자자',
       '융자(정책)_경험여부', '주력제품 국내 시장점유율(퍼센트)', '주력제품 해외 시장점유율(퍼센트)',
       '해외수출 및 진출과정 애로사항(1순위)', '해외수출 및 진출과정 애로사항(2순위)',
       '엔젤투자자 혹은 액셀러레이터 투자 경험여부', '인수합병 환경개선을 위한 필요사항(1순위)',
       '인수합병 환경개선을 위한 필요사항(2순위)', '벤처확인제도 혜택_기술개발 촉진효과',
       '벤처확인제도 혜택_기업 이미지 제고 등 광고효과', '벤처확인제도 혜택_세제혜택 효과',
       '벤처확인제도 혜택_우수인력 확보에 유리', '벤처확인제도 혜택_자금조달 및 투자 유인효과',
       '벤처확인제도 혜택_정부지원제도 참여에 유리', '현재 벤처인프라 수준_인수합병(MnA) 활성화를 위한 제도개선',
       '현재 벤처인프라 수준_벤처관련 규제완화', '현재 벤처인프라 수준_창업 및 기업가적 능력개발을 위한 교육',
       '현재 벤처인프라 수준_기업가정신을 고취하는 사회분위기', '경영상 애로사항_신기술 개발',
       '경영상 애로사항_개발된 기술의 사업화', '경영상 애로사항_국내 판로개척', '경영상 애로사항_해외시장 개척',
       '경영상 애로사항_필요인력의 확보 및 유지관리', '경영상 애로사항_자금조달_운용 등 자금관리',
       '경영상 애로사항_기술유출 및 디자인_상표 도용', '경영상 애로사항_업계내의 과당경쟁 및 덤핑',
       '경영상 애로사항_법률_회계_세무 관련 지식부족', '경영상 애로사항_조직관리', '경영상 애로사항_환율변동',
       '경영상 애로사항_특허분쟁', '경영상 애로사항_각종규제', '경영상 애로사항_산-학-연 간 협력활동',
       '경영상 애로사항_불공정한 시장질서', '정규직비율', '비정규직비율', '총종사자합계', '부서별_인력구성(관리)',
       '부서별_인력구성(생산)', '부서별_인력구성(영업)', '부서별_인력구성(RnD)', '부서별_인력구성(기타)',
       '인수합병(MnA) 경험여부', '인력구성(합계)', '학력별 인력구성_합계', '매출구조비율(대기업)',
       '매출구조비율(12차벤더)', '매출구조비율(중소기업)', '매출구조비율(B2C)', '매출구조비율(B2G)',
       '매출구조비율(글로벌)', '투자액(국내설비)', '투자액(R&D)', '투자액(해외)', '투자액(기타)', '투자액(합계)',
       '스톡옵션상황', '등록보유(특허권)', '등록보유(실용신안권)', '등록보유(디자인권)', '등록보유(상표권)',
       '등록보유(해외산업재산권)', '등록보유(합계)', '출원중(특허권)', '출원중(실용신안권)', '출원중(디자인권)',
       '출원중(상표권)', '출원중(해외산업재산권)', '출원중(합계)', '제품및서비스구조', '기술력수준비교(세계)',
       '기술력수준비교(국내)', '장기적성장전망성', '자체브랜드보유여부', '영업및마케팅방식', '실천하고있는사회적책임',
       '부채비율', '자기자본비율', '순이익률', '총자산회전율', '자기자본회전율', 'ROE', '영업이익률', '이자보상배율',
       '종사자생산성', '전공과 업종 일치 여부', '연구개발관련전담부서보유여부', '매출규모',
       '벤처캐피털(투자조합포함) 투자 경험여부'],
      dtype='object')

In [113]:
new_order = [
'가중치', '회사주소_시(도)', '한국표준산업분류(KSIC)코드_10차', '창업년도', '벤처확인 유형', '기업성장단계',
'제조 및 비제조', '상장여부 및 향후계획', '대표이사_창업자여부', '대표이사_이전근무지', '창업자 성별',
'창업 당시 창업자 연령', '창업 당시 창업자 최종학력', '창업 직전 근무지', '창업방식', '단독창업 여부',
'창업 당시 목표시장', '창업 당시 창업자 실무경험 년수(년)', '창업자 과거창업 경험 여부', '융자(정책)_경험여부',
'스톡옵션상황', '장기적성장전망성', '자체브랜드보유여부', '영업및마케팅방식', '실천하고있는사회적책임',
'전공과 업종 일치 여부', '연구개발관련전담부서보유여부', '매출규모', '인수합병(MnA) 경험여부',
'벤처확인제도 혜택_기술개발 촉진효과',
'벤처확인제도 혜택_기업 이미지 제고 등 광고효과', '벤처확인제도 혜택_세제혜택 효과',
'벤처확인제도 혜택_우수인력 확보에 유리', '벤처확인제도 혜택_자금조달 및 투자 유인효과',
'벤처확인제도 혜택_정부지원제도 참여에 유리', '현재 벤처인프라 수준_인수합병(MnA) 활성화를 위한 제도개선',
'현재 벤처인프라 수준_벤처관련 규제완화', '현재 벤처인프라 수준_창업 및 기업가적 능력개발을 위한 교육',
'현재 벤처인프라 수준_기업가정신을 고취하는 사회분위기',
'경영상 애로사항_신기술 개발',
'경영상 애로사항_개발된 기술의 사업화', '경영상 애로사항_국내 판로개척', '경영상 애로사항_해외시장 개척',
'경영상 애로사항_필요인력의 확보 및 유지관리', '경영상 애로사항_자금조달_운용 등 자금관리',
'경영상 애로사항_기술유출 및 디자인_상표 도용', '경영상 애로사항_업계내의 과당경쟁 및 덤핑',
'경영상 애로사항_법률_회계_세무 관련 지식부족', '경영상 애로사항_조직관리', '경영상 애로사항_환율변동',
'경영상 애로사항_특허분쟁', '경영상 애로사항_각종규제', '경영상 애로사항_산-학-연 간 협력활동',
'경영상 애로사항_불공정한 시장질서', 
'해외수출 및 진출과정 애로사항(1순위)', '해외수출 및 진출과정 애로사항(2순위)',
'인수합병 환경개선을 위한 필요사항(1순위)', '인수합병 환경개선을 위한 필요사항(2순위)',
'등록보유(특허권)', '등록보유(실용신안권)', '등록보유(디자인권)', '등록보유(상표권)',
'등록보유(해외산업재산권)', '등록보유(합계)', '출원중(특허권)', '출원중(실용신안권)', '출원중(디자인권)',
'출원중(상표권)', '출원중(해외산업재산권)', '출원중(합계)', '제품및서비스구조', '기술력수준비교(세계)',
'기술력수준비교(국내)', '주력제품 국내 시장점유율(퍼센트)', '주력제품 해외 시장점유율(퍼센트)',
'정규직비율', '비정규직비율', '총종사자합계',
'학력별 인력구성비(고졸이하)', '학력별 인력구성비(전문대졸)', '학력별 인력구성비(대졸)', '학력별 인력구성비(석사)',
'학력별 인력구성비(박사)', '학력별 인력구성_합계',
'부서별_인력구성(관리)',
'부서별_인력구성(생산)', '부서별_인력구성(영업)', '부서별_인력구성(RnD)', '부서별_인력구성(기타)', '인력구성(합계)',
'지분구조(퍼센트)_창업자', '지분구조(퍼센트)_임직원', '지분구조(퍼센트)_가족',
'지분구조(퍼센트)_벤처캐피털 및 기관투자자', '지분구조(퍼센트)_엔젤 및 액셀러레이터', '지분구조(퍼센트)_개인투자자',
'매출구조비율(대기업)',
'매출구조비율(12차벤더)', '매출구조비율(중소기업)', '매출구조비율(B2C)', '매출구조비율(B2G)',
'매출구조비율(글로벌)', '투자액(국내설비)', '투자액(R&D)', '투자액(해외)', '투자액(기타)', '투자액(합계)',    
'부채비율', '자기자본비율', '순이익률', '총자산회전율', '자기자본회전율', 'ROE', '영업이익률', '이자보상배율',
'종사자생산성','엔젤투자자 혹은 액셀러레이터 투자 경험여부',
'벤처캐피털(투자조합포함) 투자 경험여부'
]

In [240]:
df = df.reindex(columns=new_order)
df

,가중치,회사주소_시(도),한국표준산업분류(KSIC)코드_10차,창업년도,벤처확인 유형,기업성장단계,제조 및 비제조,상장여부 및 향후계획,대표이사_창업자여부,대표이사_이전근무지,...,자기자본비율,순이익률,총자산회전율,자기자본회전율,ROE,영업이익률,이자보상배율,종사자생산성,엔젤투자자 혹은 액셀러레이터 투자 경험여부,벤처캐피털(투자조합포함) 투자 경험여부
0,10.420,경기,A01110,2009,3,2,4,2,1.0,6.0,...,-9.113,-59100.000,0.056,-0.610,360.366,-45500.000,-255.331,27.778,2,1
1,3.484,광주,A01110,2010,1,4,4,2,1.0,6.0,...,27.306,3.063,182.613,668.771,20.487,4.289,417.742,120780.000,2,2
2,13.645,경남,A01122,2000,2,4,4,2,1.0,6.0,...,67.238,8.065,47.157,70.135,5.656,9.194,276.033,24220.000,2,2
3,2.061,서울,A01123,2004,2,3,4,1,1.0,6.0,...,24.734,-6.119,55.927,226.118,-13.836,0.790,14.706,11613.609,2,2
4,2.294,서울,A01123,2004,2,3,4,1,1.0,6.0,...,46.665,-11.386,69.228,148.350,-16.891,-5.424,-102.653,12230.857,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12380,30.356,서울,R91136,2017,1,2,4,2,1.0,6.0,...,34.503,-11.720,78.543,227.639,-26.679,-19.562,-1784.615,10781.818,2,2
12381,0.323,경기,S95110,2007,2,3,1,2,1.0,10.0,...,38.300,2.822,603.905,1576.773,44.500,2.927,1323.077,68563.333,2,2
12382,0.323,서울,S95120,2015,2,2,4,1,1.0,6.0,...,19.612,-0.801,385.063,1963.398,-15.723,-0.446,-101.471,29778.205,2,2
12383,1.831,서울,S95120,2015,2,3,4,1,1.0,5.0,...,29.754,2.205,511.376,1718.692,37.902,2.844,1009.924,22918.719,2,2
12384,1.350,서울,S95120,2015,2,3,4,1,1.0,5.0,...,19.612,-0.801,385.063,1963.398,-15.723,-0.446,-101.471,28499.387,2,2

### 투자액 -> 비율

In [241]:
import re

# 변환할 열 리스트
columns_to_convert = ['투자액(국내설비)', '투자액(R&D)', '투자액(해외)', '투자액(기타)', '투자액(합계)']

# 각 열을 숫자형으로 변환
for column in columns_to_convert:
    # ,와 . 제거 후 숫자로 변환
    df[column] = df[column].apply(lambda x: re.sub(r'[,\.]', '', x)).astype(float)

In [242]:
df['투자액(국내설비)'] = (df['투자액(국내설비)'] / df['투자액(합계)'])*100
df['투자액(R&D)'] = (df['투자액(R&D)'] / df['투자액(합계)'])*100
df['투자액(해외)'] = (df['투자액(해외)'] / df['투자액(합계)'])*100
df['투자액(기타)'] = (df['투자액(기타)'] / df['투자액(합계)'])*100

df.rename(columns={'투자액(국내설비)': '투자액비(국내설비)'}, inplace=True)
df.rename(columns={'투자액(R&D)': '투자액비(RnD)'}, inplace=True)
df.rename(columns={'투자액(해외)': '투자액비(해외)'}, inplace=True)
df.rename(columns={'투자액(기타)': '투자액비(기타)'}, inplace=True)

In [117]:
# df.to_csv('totaldata.csv', index=False, encoding='utf-8')

---

### 변수 수정

> 1, 2순위 컬럼 1순위만 남기기

In [243]:
df.loc[df['해외수출 및 진출과정 애로사항(1순위)'] == 9, '해외수출 및 진출과정 애로사항(1순위)'] = df['해외수출 및 진출과정 애로사항(2순위)']

In [244]:
df.drop('인수합병 환경개선을 위한 필요사항(2순위)', axis=1, inplace=True)

In [245]:
df.drop('해외수출 및 진출과정 애로사항(2순위)', axis=1, inplace=True)

In [246]:
df.rename(columns={'해외수출 및 진출과정 애로사항(1순위)': '해외수출 및 진출과정 애로사항'}, inplace=True)
df.rename(columns={'인수합병 환경개선을 위한 필요사항(1순위)': '인수합병 환경개선을 위한 필요사항'}, inplace=True)

> 애로사항 컬럼 종합 점수로 환산

In [247]:
arosahang_columns = [col for col in df.columns if '경영상 애로사항' in col]
arosahang_columns

['경영상 애로사항_신기술 개발',
 '경영상 애로사항_개발된 기술의 사업화',
 '경영상 애로사항_국내 판로개척',
 '경영상 애로사항_해외시장 개척',
 '경영상 애로사항_필요인력의 확보 및 유지관리',
 '경영상 애로사항_자금조달_운용 등 자금관리',
 '경영상 애로사항_기술유출 및 디자인_상표 도용',
 '경영상 애로사항_업계내의 과당경쟁 및 덤핑',
 '경영상 애로사항_법률_회계_세무 관련 지식부족',
 '경영상 애로사항_조직관리',
 '경영상 애로사항_환율변동',
 '경영상 애로사항_특허분쟁',
 '경영상 애로사항_각종규제',
 '경영상 애로사항_산-학-연 간 협력활동',
 '경영상 애로사항_불공정한 시장질서']

In [248]:
df['경영상 애로사항_신기술 개발'] = df['경영상 애로사항_신기술 개발'].replace([1,2,3], 0)
df['경영상 애로사항_신기술 개발'] = df['경영상 애로사항_신기술 개발'].replace([4,5], 1)

df['경영상 애로사항_개발된 기술의 사업화'] = df['경영상 애로사항_개발된 기술의 사업화'].replace([1,2,3], 0)
df['경영상 애로사항_개발된 기술의 사업화'] = df['경영상 애로사항_개발된 기술의 사업화'].replace([4,5], 1)

df['경영상 애로사항_국내 판로개척'] = df['경영상 애로사항_국내 판로개척'].replace([1,2,3], 0)
df['경영상 애로사항_국내 판로개척'] = df['경영상 애로사항_국내 판로개척'].replace([4,5], 1)

df['경영상 애로사항_해외시장 개척'] = df['경영상 애로사항_해외시장 개척'].replace([1,2,3], 0)
df['경영상 애로사항_해외시장 개척'] = df['경영상 애로사항_해외시장 개척'].replace([4,5], 1)

df['경영상 애로사항_필요인력의 확보 및 유지관리'] = df['경영상 애로사항_필요인력의 확보 및 유지관리'].replace([1,2,3], 0)
df['경영상 애로사항_필요인력의 확보 및 유지관리'] = df['경영상 애로사항_필요인력의 확보 및 유지관리'].replace([4,5], 1)

df['경영상 애로사항_자금조달_운용 등 자금관리'] = df['경영상 애로사항_자금조달_운용 등 자금관리'].replace([1,2,3], 0)
df['경영상 애로사항_자금조달_운용 등 자금관리'] = df['경영상 애로사항_자금조달_운용 등 자금관리'].replace([4,5], 1)

df['경영상 애로사항_기술유출 및 디자인_상표 도용'] = df['경영상 애로사항_기술유출 및 디자인_상표 도용'].replace([1,2,3], 0)
df['경영상 애로사항_기술유출 및 디자인_상표 도용'] = df['경영상 애로사항_기술유출 및 디자인_상표 도용'].replace([4,5], 1)

df['경영상 애로사항_업계내의 과당경쟁 및 덤핑'] = df['경영상 애로사항_업계내의 과당경쟁 및 덤핑'].replace([1,2,3], 0)
df['경영상 애로사항_업계내의 과당경쟁 및 덤핑'] = df['경영상 애로사항_업계내의 과당경쟁 및 덤핑'].replace([4,5], 1)

df['경영상 애로사항_법률_회계_세무 관련 지식부족'] = df['경영상 애로사항_법률_회계_세무 관련 지식부족'].replace([1,2,3], 0)
df['경영상 애로사항_법률_회계_세무 관련 지식부족'] = df['경영상 애로사항_법률_회계_세무 관련 지식부족'].replace([4,5], 1)

df['경영상 애로사항_조직관리'] = df['경영상 애로사항_조직관리'].replace([1,2,3], 0)
df['경영상 애로사항_조직관리'] = df['경영상 애로사항_조직관리'].replace([4,5], 1)

df['경영상 애로사항_환율변동'] = df['경영상 애로사항_환율변동'].replace([1,2,3], 0)
df['경영상 애로사항_환율변동'] = df['경영상 애로사항_환율변동'].replace([4,5], 1)

df['경영상 애로사항_특허분쟁'] = df['경영상 애로사항_특허분쟁'].replace([1,2,3], 0)
df['경영상 애로사항_특허분쟁'] = df['경영상 애로사항_특허분쟁'].replace([4,5], 1)

df['경영상 애로사항_각종규제'] = df['경영상 애로사항_각종규제'].replace([1,2,3], 0)
df['경영상 애로사항_각종규제'] = df['경영상 애로사항_각종규제'].replace([4,5], 1)

df['경영상 애로사항_산-학-연 간 협력활동'] = df['경영상 애로사항_산-학-연 간 협력활동'].replace([1,2,3], 0)
df['경영상 애로사항_산-학-연 간 협력활동'] = df['경영상 애로사항_산-학-연 간 협력활동'].replace([4,5], 1)

df['경영상 애로사항_불공정한 시장질서'] = df['경영상 애로사항_불공정한 시장질서'].replace([1,2,3], 0)
df['경영상 애로사항_불공정한 시장질서'] = df['경영상 애로사항_불공정한 시장질서'].replace([4,5], 1)

In [249]:
columns_to_sum = ['경영상 애로사항_신기술 개발', '경영상 애로사항_개발된 기술의 사업화', '경영상 애로사항_국내 판로개척', '경영상 애로사항_해외시장 개척',
                  '경영상 애로사항_필요인력의 확보 및 유지관리', '경영상 애로사항_자금조달_운용 등 자금관리',
                  '경영상 애로사항_기술유출 및 디자인_상표 도용', '경영상 애로사항_업계내의 과당경쟁 및 덤핑',
                  '경영상 애로사항_법률_회계_세무 관련 지식부족', '경영상 애로사항_조직관리', '경영상 애로사항_환율변동',
                  '경영상 애로사항_특허분쟁', '경영상 애로사항_각종규제', '경영상 애로사항_산-학-연 간 협력활동',
                  '경영상 애로사항_불공정한 시장질서']

df['경영상 애로사항'] = df[columns_to_sum].sum(axis=1)

In [250]:
df[['경영상 애로사항_신기술 개발',
 '경영상 애로사항_개발된 기술의 사업화',
 '경영상 애로사항_국내 판로개척',
 '경영상 애로사항_해외시장 개척',
 '경영상 애로사항_필요인력의 확보 및 유지관리',
 '경영상 애로사항_자금조달_운용 등 자금관리',
 '경영상 애로사항_기술유출 및 디자인_상표 도용',
 '경영상 애로사항_업계내의 과당경쟁 및 덤핑',
 '경영상 애로사항_법률_회계_세무 관련 지식부족',
 '경영상 애로사항_조직관리',
 '경영상 애로사항_환율변동',
 '경영상 애로사항_특허분쟁',
 '경영상 애로사항_각종규제',
 '경영상 애로사항_산-학-연 간 협력활동',
 '경영상 애로사항_불공정한 시장질서', '경영상 애로사항']]

,경영상 애로사항_신기술 개발,경영상 애로사항_개발된 기술의 사업화,경영상 애로사항_국내 판로개척,경영상 애로사항_해외시장 개척,경영상 애로사항_필요인력의 확보 및 유지관리,경영상 애로사항_자금조달_운용 등 자금관리,경영상 애로사항_기술유출 및 디자인_상표 도용,경영상 애로사항_업계내의 과당경쟁 및 덤핑,경영상 애로사항_법률_회계_세무 관련 지식부족,경영상 애로사항_조직관리,경영상 애로사항_환율변동,경영상 애로사항_특허분쟁,경영상 애로사항_각종규제,경영상 애로사항_산-학-연 간 협력활동,경영상 애로사항_불공정한 시장질서,경영상 애로사항
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0.0
1,1,1,1,1,0,1,0,0,1,0,0,0,1,0.0,0,7.0
2,1,1,1,1,0,1,1,0,1,0,0,1,1,0.0,0,9.0
3,0,0,1,0,0,1,0,0,0,0,0,0,0,0.0,0,2.0
4,0,1,1,1,0,0,0,0,0,0,1,0,0,0.0,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12380,1,1,1,1,1,1,1,1,1,0,1,1,1,0.0,0,12.0
12381,0,0,0,0,1,0,0,0,0,0,0,0,0,0.0,0,1.0
12382,0,0,0,0,1,1,0,0,0,0,0,0,0,0.0,0,2.0
12383,0,0,1,0,0,1,0,1,0,0,0,1,0,0.0,0,4.0
12384,1,1,1,1,1,1,1,1,1,0,0,0,0,0.0,0,9.0

In [251]:
df.rename(columns={'경영상 애로사항': '경영상 애로사항(개수)'}, inplace=True)

In [252]:
df['경영상 애로사항(개수)'] = df['경영상 애로사항(개수)'].astype('Int64')

In [253]:
cols_to_drop = ['경영상 애로사항_신기술 개발',
                '경영상 애로사항_개발된 기술의 사업화',
                '경영상 애로사항_국내 판로개척',
                '경영상 애로사항_해외시장 개척',
                '경영상 애로사항_필요인력의 확보 및 유지관리',
                '경영상 애로사항_자금조달_운용 등 자금관리',
                '경영상 애로사항_기술유출 및 디자인_상표 도용',
                '경영상 애로사항_업계내의 과당경쟁 및 덤핑',
                '경영상 애로사항_법률_회계_세무 관련 지식부족',
                '경영상 애로사항_조직관리',
                '경영상 애로사항_환율변동',
                '경영상 애로사항_특허분쟁',
                '경영상 애로사항_각종규제',
                '경영상 애로사항_산-학-연 간 협력활동',
                '경영상 애로사항_불공정한 시장질서']

df.drop(cols_to_drop, axis=1, inplace=True)

> 등록 보유 (특허권, 실용신안권, 디자인권, 상표권, 해외산업재산권) -> 등록보유(합계)만 남기기

> 출원중 (특허권, 실용신안권, 디자인권, 상표권, 해외산업재산권) -> 출워중(합계)만 남기기

In [254]:
arosahang_columns = [col for col in df.columns if '등록보유' in col]
arosahang_columns

['등록보유(특허권)',
 '등록보유(실용신안권)',
 '등록보유(디자인권)',
 '등록보유(상표권)',
 '등록보유(해외산업재산권)',
 '등록보유(합계)']

In [255]:
cols_to_drop = ['등록보유(특허권)',
 '등록보유(실용신안권)',
 '등록보유(디자인권)',
 '등록보유(상표권)',
 '등록보유(해외산업재산권)']

df.drop(cols_to_drop, axis=1, inplace=True)

In [256]:
arosahang_columns = [col for col in df.columns if '출원중' in col]
arosahang_columns

['출원중(특허권)', '출원중(실용신안권)', '출원중(디자인권)', '출원중(상표권)', '출원중(해외산업재산권)', '출원중(합계)']

In [257]:
cols_to_drop = ['출원중(특허권)', '출원중(실용신안권)', '출원중(디자인권)', '출원중(상표권)', '출원중(해외산업재산권)']

df.drop(cols_to_drop, axis=1, inplace=True)

> 인원 합계 컬럼 삭제

In [258]:
cols_to_drop = ['인력구성(합계)', '총종사자합계']

df.drop(cols_to_drop, axis=1, inplace=True)

> 벤처인프라 수준 점수

In [259]:
arosahang_columns = [col for col in df.columns if '벤처인프라 수준' in col]
arosahang_columns

['현재 벤처인프라 수준_인수합병(MnA) 활성화를 위한 제도개선',
 '현재 벤처인프라 수준_벤처관련 규제완화',
 '현재 벤처인프라 수준_창업 및 기업가적 능력개발을 위한 교육',
 '현재 벤처인프라 수준_기업가정신을 고취하는 사회분위기']

In [260]:
columns_to_average = ['현재 벤처인프라 수준_인수합병(MnA) 활성화를 위한 제도개선',
                     '현재 벤처인프라 수준_벤처관련 규제완화',
                     '현재 벤처인프라 수준_창업 및 기업가적 능력개발을 위한 교육',
                     '현재 벤처인프라 수준_기업가정신을 고취하는 사회분위기']

df['평균 벤처인프라 수준'] = df[columns_to_average].mean(axis=1)

In [261]:
df.rename(columns={'평균 벤처인프라 수준': '벤처인프라 수준(평균)'}, inplace=True)

In [262]:
cols_to_drop = ['현재 벤처인프라 수준_인수합병(MnA) 활성화를 위한 제도개선',
                     '현재 벤처인프라 수준_벤처관련 규제완화',
                     '현재 벤처인프라 수준_창업 및 기업가적 능력개발을 위한 교육',
                     '현재 벤처인프라 수준_기업가정신을 고취하는 사회분위기']

df.drop(cols_to_drop, axis=1, inplace=True)

> 벤처확인제도 혜택(평균) 점수 만들기

In [263]:
arosahang_columns = [col for col in df.columns if '벤처확인제도 혜택' in col]
arosahang_columns

['벤처확인제도 혜택_기술개발 촉진효과',
 '벤처확인제도 혜택_기업 이미지 제고 등 광고효과',
 '벤처확인제도 혜택_세제혜택 효과',
 '벤처확인제도 혜택_우수인력 확보에 유리',
 '벤처확인제도 혜택_자금조달 및 투자 유인효과',
 '벤처확인제도 혜택_정부지원제도 참여에 유리']

In [264]:
columns_to_average = ['벤처확인제도 혜택_기술개발 촉진효과',
                    '벤처확인제도 혜택_기업 이미지 제고 등 광고효과',
                    '벤처확인제도 혜택_세제혜택 효과',
                    '벤처확인제도 혜택_우수인력 확보에 유리',
                    '벤처확인제도 혜택_자금조달 및 투자 유인효과',
                    '벤처확인제도 혜택_정부지원제도 참여에 유리']

df['벤처확인제도 혜택(평균)'] = df[columns_to_average].mean(axis=1)

In [265]:
cols_to_drop = ['벤처확인제도 혜택_기술개발 촉진효과',
                    '벤처확인제도 혜택_기업 이미지 제고 등 광고효과',
                    '벤처확인제도 혜택_세제혜택 효과',
                    '벤처확인제도 혜택_우수인력 확보에 유리',
                    '벤처확인제도 혜택_자금조달 및 투자 유인효과',
                    '벤처확인제도 혜택_정부지원제도 참여에 유리']

df.drop(cols_to_drop, axis=1, inplace=True)

In [266]:
df

,가중치,회사주소_시(도),한국표준산업분류(KSIC)코드_10차,창업년도,벤처확인 유형,기업성장단계,제조 및 비제조,상장여부 및 향후계획,대표이사_창업자여부,대표이사_이전근무지,...,자기자본회전율,ROE,영업이익률,이자보상배율,종사자생산성,엔젤투자자 혹은 액셀러레이터 투자 경험여부,벤처캐피털(투자조합포함) 투자 경험여부,경영상 애로사항(개수),벤처인프라 수준(평균),벤처확인제도 혜택(평균)
0,10.420,경기,A01110,2009,3,2,4,2,1.0,6.0,...,-0.610,360.366,-45500.000,-255.331,27.778,2,1,0,2.75,2.666667
1,3.484,광주,A01110,2010,1,4,4,2,1.0,6.0,...,668.771,20.487,4.289,417.742,120780.000,2,2,7,3.25,3.833333
2,13.645,경남,A01122,2000,2,4,4,2,1.0,6.0,...,70.135,5.656,9.194,276.033,24220.000,2,2,9,3.25,4.166667
3,2.061,서울,A01123,2004,2,3,4,1,1.0,6.0,...,226.118,-13.836,0.790,14.706,11613.609,2,2,2,4.00,4.833333
4,2.294,서울,A01123,2004,2,3,4,1,1.0,6.0,...,148.350,-16.891,-5.424,-102.653,12230.857,2,2,4,3.75,4.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12380,30.356,서울,R91136,2017,1,2,4,2,1.0,6.0,...,227.639,-26.679,-19.562,-1784.615,10781.818,2,2,12,3.25,4.166667
12381,0.323,경기,S95110,2007,2,3,1,2,1.0,10.0,...,1576.773,44.500,2.927,1323.077,68563.333,2,2,1,3.00,3.333333
12382,0.323,서울,S95120,2015,2,2,4,1,1.0,6.0,...,1963.398,-15.723,-0.446,-101.471,29778.205,2,2,2,3.00,3.000000
12383,1.831,서울,S95120,2015,2,3,4,1,1.0,5.0,...,1718.692,37.902,2.844,1009.924,22918.719,2,2,4,3.50,3.333333
12384,1.350,서울,S95120,2015,2,3,4,1,1.0,5.0,...,1963.398,-15.723,-0.446,-101.471,28499.387,2,2,9,4.00,3.666667

In [267]:
df.columns

Index(['가중치', '회사주소_시(도)', '한국표준산업분류(KSIC)코드_10차', '창업년도', '벤처확인 유형', '기업성장단계',
       '제조 및 비제조', '상장여부 및 향후계획', '대표이사_창업자여부', '대표이사_이전근무지', '창업자 성별',
       '창업 당시 창업자 연령', '창업 당시 창업자 최종학력', '창업 직전 근무지', '창업방식', '단독창업 여부',
       '창업 당시 목표시장', '창업 당시 창업자 실무경험 년수(년)', '창업자 과거창업 경험 여부', '융자(정책)_경험여부',
       '스톡옵션상황', '장기적성장전망성', '자체브랜드보유여부', '영업및마케팅방식', '실천하고있는사회적책임',
       '전공과 업종 일치 여부', '연구개발관련전담부서보유여부', '매출규모', '인수합병(MnA) 경험여부',
       '해외수출 및 진출과정 애로사항', '인수합병 환경개선을 위한 필요사항', '등록보유(합계)', '출원중(합계)',
       '제품및서비스구조', '기술력수준비교(세계)', '기술력수준비교(국내)', '주력제품 국내 시장점유율(퍼센트)',
       '주력제품 해외 시장점유율(퍼센트)', '정규직비율', '비정규직비율', '학력별 인력구성비(고졸이하)',
       '학력별 인력구성비(전문대졸)', '학력별 인력구성비(대졸)', '학력별 인력구성비(석사)', '학력별 인력구성비(박사)',
       '학력별 인력구성_합계', '부서별_인력구성(관리)', '부서별_인력구성(생산)', '부서별_인력구성(영업)',
       '부서별_인력구성(RnD)', '부서별_인력구성(기타)', '지분구조(퍼센트)_창업자', '지분구조(퍼센트)_임직원',
       '지분구조(퍼센트)_가족', '지분구조(퍼센트)_벤처캐피털 및 기관투자자', '지분구조(퍼센트)_엔젤 및 액셀러레이터',
       '지분구조(퍼센트)_개인투자자', '매출구조비율(대기업)', '매출구조비율(12차벤더)', '매출구조비율(중소기업)',
       '매출구조비율(B2C)', '매출구조비율(B2G)', '매출구조비율(글로벌)', '투자액비(국내설비)', '투자액비(RnD)',
       '투자액비(해외)', '투자액비(기타)', '투자액(합계)', '부채비율', '자기자본비율', '순이익률', '총자산회전율',
       '자기자본회전율', 'ROE', '영업이익률', '이자보상배율', '종사자생산성',
       '엔젤투자자 혹은 액셀러레이터 투자 경험여부', '벤처캐피털(투자조합포함) 투자 경험여부', '경영상 애로사항(개수)',
       '벤처인프라 수준(평균)', '벤처확인제도 혜택(평균)'],
      dtype='object')

In [268]:
df = df.round(3)

In [269]:
df.drop('투자액(합계)', axis=1, inplace=True)

In [270]:
df.drop('창업년도', axis=1, inplace=True)

In [271]:
df['기업성장단계'].value_counts()

3    5067
4    4846
2    2134
1     185
5     153
Name: 기업성장단계, dtype: int64

In [272]:
df.rename(columns={'상장여부 및 향후계획': '상장여부'}, inplace=True)

In [273]:
df.drop('대표이사_이전근무지', axis=1, inplace=True)

In [274]:
df.drop('창업자 성별', axis=1, inplace=True)

In [275]:
df['창업방식'].value_counts()

3    11579
2      412
1      394
Name: 창업방식, dtype: int64

In [ ]:
# df.drop('학력별 인력구성_합계', axis=1, inplace=True)

In [276]:
arosahang_columns = [col for col in df.columns if '학력별 인력구성비' in col]
arosahang_columns

['학력별 인력구성비(고졸이하)',
 '학력별 인력구성비(전문대졸)',
 '학력별 인력구성비(대졸)',
 '학력별 인력구성비(석사)',
 '학력별 인력구성비(박사)']

In [277]:
columns_to_sum = ['학력별 인력구성비(고졸이하)',
                  '학력별 인력구성비(전문대졸)',
                  '학력별 인력구성비(대졸)',
                  '학력별 인력구성비(석사)',
                  '학력별 인력구성비(박사)']

df['학력별 인력구성비 합'] = df[columns_to_sum].sum(axis=1)

In [278]:
df_not_100 = df[df['학력별 인력구성비 합'] != 100]
df_not_100

,가중치,회사주소_시(도),한국표준산업분류(KSIC)코드_10차,벤처확인 유형,기업성장단계,제조 및 비제조,상장여부,대표이사_창업자여부,창업 당시 창업자 연령,창업 당시 창업자 최종학력,...,ROE,영업이익률,이자보상배율,종사자생산성,엔젤투자자 혹은 액셀러레이터 투자 경험여부,벤처캐피털(투자조합포함) 투자 경험여부,경영상 애로사항(개수),벤처인프라 수준(평균),벤처확인제도 혜택(평균),학력별 인력구성비 합
0,10.420,경기,A01110,3,2,4,2,1.0,2,3,...,360.366,-45500.000,-255.331,27.778,2,1,0,2.75,2.667,15.0
1,3.484,광주,A01110,1,4,4,2,1.0,3,4,...,20.487,4.289,417.742,120780.000,2,2,7,3.25,3.833,5.0
2,13.645,경남,A01122,2,4,4,2,1.0,3,2,...,5.656,9.194,276.033,24220.000,2,2,9,3.25,4.167,15.0
6,1.832,서울,A01123,2,3,2,1,1.0,3,2,...,-28.580,-9.022,-217.814,8683.981,2,2,8,2.75,4.000,206.0
8,1.980,제주,A01123,3,4,1,2,1.0,3,4,...,-5.254,1.501,39.542,36284.211,2,2,0,3.25,3.000,142.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12379,1.350,서울,R90199,3,4,4,1,2.0,2,3,...,39.474,20.604,7008.163,184364.159,2,1,9,5.00,3.333,375.0
12380,30.356,서울,R91136,1,2,4,2,1.0,4,3,...,-26.679,-19.562,-1784.615,10781.818,2,2,12,3.25,4.167,11.0
12381,0.323,경기,S95110,2,3,1,2,1.0,2,3,...,44.500,2.927,1323.077,68563.333,2,2,1,3.00,3.333,60.0
12382,0.323,서울,S95120,2,2,4,1,1.0,4,3,...,-15.723,-0.446,-101.471,29778.205,2,2,2,3.00,3.000,156.0
12384,1.350,서울,S95120,2,3,4,1,1.0,2,3,...,-15.723,-0.446,-101.471,28499.387,2,2,9,4.00,3.667,152.0

In [279]:
# 학력별 인력구성비 만들기
df_not_100['학력별 인력구성비(고졸이하)'] = (df_not_100['학력별 인력구성비(고졸이하)'] / df_not_100['학력별 인력구성_합계'])*100
df_not_100['학력별 인력구성비(전문대졸)'] = (df_not_100['학력별 인력구성비(전문대졸)'] / df_not_100['학력별 인력구성_합계'])*100
df_not_100['학력별 인력구성비(대졸)'] = (df_not_100['학력별 인력구성비(대졸)'] / df_not_100['학력별 인력구성_합계'])*100
df_not_100['학력별 인력구성비(석사)'] = (df_not_100['학력별 인력구성비(석사)'] / df_not_100['학력별 인력구성_합계'])*100
df_not_100['학력별 인력구성비(박사)'] = (df_not_100['학력별 인력구성비(박사)'] / df_not_100['학력별 인력구성_합계'])*100

In [280]:
df_100 = df[df['학력별 인력구성비 합'] == 100]
df_100

,가중치,회사주소_시(도),한국표준산업분류(KSIC)코드_10차,벤처확인 유형,기업성장단계,제조 및 비제조,상장여부,대표이사_창업자여부,창업 당시 창업자 연령,창업 당시 창업자 최종학력,...,ROE,영업이익률,이자보상배율,종사자생산성,엔젤투자자 혹은 액셀러레이터 투자 경험여부,벤처캐피털(투자조합포함) 투자 경험여부,경영상 애로사항(개수),벤처인프라 수준(평균),벤처확인제도 혜택(평균),학력별 인력구성비 합
3,2.061,서울,A01123,2,3,4,1,1.0,4,2,...,-13.836,0.790,14.706,11613.609,2,2,2,4.00,4.833,100.0
4,2.294,서울,A01123,2,3,4,1,1.0,3,2,...,-16.891,-5.424,-102.653,12230.857,2,2,4,3.75,4.667,100.0
5,2.449,서울,A01123,2,3,2,1,1.0,3,2,...,14.313,3.519,145.631,8325.781,2,2,6,3.75,4.333,100.0
7,1.727,제주,A01123,3,4,1,2,2.0,2,5,...,1.040,2.509,52.433,44841.176,1,2,7,3.50,3.000,100.0
13,1.727,충남,A01231,2,3,4,2,1.0,3,2,...,14.805,8.490,427.304,53621.818,2,2,3,3.75,3.500,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12372,6.940,서울,R90191,2,2,2,2,1.0,2,3,...,74.743,9.113,21900.000,40053.333,2,2,7,2.50,3.333,100.0
12375,43.545,서울,R90191,2,3,4,2,2.0,3,3,...,17.725,-11.195,-590.000,26350.000,2,2,5,3.25,3.333,100.0
12376,43.545,서울,R90191,2,4,4,2,1.0,2,3,...,19.317,3.441,1124.242,134762.500,2,2,3,3.00,3.167,100.0
12377,20.471,서울,R90191,2,2,2,2,1.0,2,3,...,46.369,3.631,18800.000,64725.000,2,2,1,3.25,3.000,100.0
12383,1.831,서울,S95120,2,3,4,1,1.0,3,3,...,37.902,2.844,1009.924,22918.719,2,2,4,3.50,3.333,100.0

In [281]:
data = pd.concat([df_100, df_not_100])
data = data.sort_index()
data

,가중치,회사주소_시(도),한국표준산업분류(KSIC)코드_10차,벤처확인 유형,기업성장단계,제조 및 비제조,상장여부,대표이사_창업자여부,창업 당시 창업자 연령,창업 당시 창업자 최종학력,...,ROE,영업이익률,이자보상배율,종사자생산성,엔젤투자자 혹은 액셀러레이터 투자 경험여부,벤처캐피털(투자조합포함) 투자 경험여부,경영상 애로사항(개수),벤처인프라 수준(평균),벤처확인제도 혜택(평균),학력별 인력구성비 합
0,10.420,경기,A01110,3,2,4,2,1.0,2,3,...,360.366,-45500.000,-255.331,27.778,2,1,0,2.75,2.667,15.0
1,3.484,광주,A01110,1,4,4,2,1.0,3,4,...,20.487,4.289,417.742,120780.000,2,2,7,3.25,3.833,5.0
2,13.645,경남,A01122,2,4,4,2,1.0,3,2,...,5.656,9.194,276.033,24220.000,2,2,9,3.25,4.167,15.0
3,2.061,서울,A01123,2,3,4,1,1.0,4,2,...,-13.836,0.790,14.706,11613.609,2,2,2,4.00,4.833,100.0
4,2.294,서울,A01123,2,3,4,1,1.0,3,2,...,-16.891,-5.424,-102.653,12230.857,2,2,4,3.75,4.667,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12380,30.356,서울,R91136,1,2,4,2,1.0,4,3,...,-26.679,-19.562,-1784.615,10781.818,2,2,12,3.25,4.167,11.0
12381,0.323,경기,S95110,2,3,1,2,1.0,2,3,...,44.500,2.927,1323.077,68563.333,2,2,1,3.00,3.333,60.0
12382,0.323,서울,S95120,2,2,4,1,1.0,4,3,...,-15.723,-0.446,-101.471,29778.205,2,2,2,3.00,3.000,156.0
12383,1.831,서울,S95120,2,3,4,1,1.0,3,3,...,37.902,2.844,1009.924,22918.719,2,2,4,3.50,3.333,100.0
12384,1.350,서울,S95120,2,3,4,1,1.0,2,3,...,-15.723,-0.446,-101.471,28499.387,2,2,9,4.00,3.667,152.0

In [282]:
data.drop('학력별 인력구성_합계', axis=1, inplace=True)
data.drop('학력별 인력구성비 합', axis=1, inplace=True)

In [283]:
df = data

In [284]:
arosahang_columns = [col for col in df.columns if '지분구조' in col]
arosahang_columns

['지분구조(퍼센트)_창업자',
 '지분구조(퍼센트)_임직원',
 '지분구조(퍼센트)_가족',
 '지분구조(퍼센트)_벤처캐피털 및 기관투자자',
 '지분구조(퍼센트)_엔젤 및 액셀러레이터',
 '지분구조(퍼센트)_개인투자자']

In [285]:
cols_to_drop = ['지분구조(퍼센트)_창업자',
 '지분구조(퍼센트)_임직원',
 '지분구조(퍼센트)_가족',
 '지분구조(퍼센트)_벤처캐피털 및 기관투자자',
 '지분구조(퍼센트)_엔젤 및 액셀러레이터',
 '지분구조(퍼센트)_개인투자자']

df.drop(cols_to_drop, axis=1, inplace=True)

In [286]:
df.drop('인수합병 환경개선을 위한 필요사항', axis=1, inplace=True)

In [287]:
df.drop('비정규직비율', axis=1, inplace=True)

In [288]:
df.drop('스톡옵션상황', axis=1, inplace=True)

In [291]:
df.drop('실천하고있는사회적책임', axis=1, inplace=True)

In [290]:
df

,가중치,회사주소_시(도),한국표준산업분류(KSIC)코드_10차,벤처확인 유형,기업성장단계,제조 및 비제조,상장여부,대표이사_창업자여부,창업 당시 창업자 연령,창업 당시 창업자 최종학력,...,자기자본회전율,ROE,영업이익률,이자보상배율,종사자생산성,엔젤투자자 혹은 액셀러레이터 투자 경험여부,벤처캐피털(투자조합포함) 투자 경험여부,경영상 애로사항(개수),벤처인프라 수준(평균),벤처확인제도 혜택(평균)
0,10.420,경기,A01110,3,2,4,2,1.0,2,3,...,-0.610,360.366,-45500.000,-255.331,27.778,2,1,0,2.75,2.667
1,3.484,광주,A01110,1,4,4,2,1.0,3,4,...,668.771,20.487,4.289,417.742,120780.000,2,2,7,3.25,3.833
2,13.645,경남,A01122,2,4,4,2,1.0,3,2,...,70.135,5.656,9.194,276.033,24220.000,2,2,9,3.25,4.167
3,2.061,서울,A01123,2,3,4,1,1.0,4,2,...,226.118,-13.836,0.790,14.706,11613.609,2,2,2,4.00,4.833
4,2.294,서울,A01123,2,3,4,1,1.0,3,2,...,148.350,-16.891,-5.424,-102.653,12230.857,2,2,4,3.75,4.667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12380,30.356,서울,R91136,1,2,4,2,1.0,4,3,...,227.639,-26.679,-19.562,-1784.615,10781.818,2,2,12,3.25,4.167
12381,0.323,경기,S95110,2,3,1,2,1.0,2,3,...,1576.773,44.500,2.927,1323.077,68563.333,2,2,1,3.00,3.333
12382,0.323,서울,S95120,2,2,4,1,1.0,4,3,...,1963.398,-15.723,-0.446,-101.471,29778.205,2,2,2,3.00,3.000
12383,1.831,서울,S95120,2,3,4,1,1.0,3,3,...,1718.692,37.902,2.844,1009.924,22918.719,2,2,4,3.50,3.333
12384,1.350,서울,S95120,2,3,4,1,1.0,2,3,...,1963.398,-15.723,-0.446,-101.471,28499.387,2,2,9,4.00,3.667

In [292]:
null_columns = df.columns[df.isnull().any()]
null_columns

Index(['매출규모', '인수합병(MnA) 경험여부', '정규직비율', '부서별_인력구성(관리)', '부서별_인력구성(생산)',
       '부서별_인력구성(영업)', '부서별_인력구성(RnD)', '부서별_인력구성(기타)', '투자액비(국내설비)',
       '투자액비(RnD)', '투자액비(해외)', '투자액비(기타)', '부채비율', '자기자본비율', '순이익률', '총자산회전율',
       '자기자본회전율', 'ROE', '영업이익률', '이자보상배율', '종사자생산성'],
      dtype='object')