In [9]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../data/pre_/data.csv')

In [11]:
df['정규직합계'] = (df['정규직합계'] / df['총종사자합계']) * 100
df['비정규직합계'] = (df['비정규직합계'] / df['총종사자합계']) * 100

In [12]:
df.rename(columns={'정규직합계' : '정규직비율'}, inplace=True)
df.rename(columns={'비정규직합계' : '비정규직비율'}, inplace=True)

In [14]:
pd.reset_option('display.max_rows', None)
df[['정규직비율', '비정규직비율']]

            정규직비율     비정규직비율
0      100.000000   0.000000
1      100.000000   0.000000
2      100.000000   0.000000
3      100.000000   0.000000
4      100.000000   0.000000
...           ...        ...
12380  100.000000   0.000000
12381   28.571429  71.428571
12382   98.701299   1.298701
12383  100.000000   0.000000
12384  100.000000   0.000000

[12385 rows x 2 columns]

In [15]:
df = df.round(3)