# 6/19

In [60]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [83]:
df = pd.read_csv('../data/pre_/data.csv')

In [84]:
df['정규직합계'] = (df['정규직합계'] / df['총종사자합계']) * 100
df['비정규직합계'] = (df['비정규직합계'] / df['총종사자합계']) * 100

In [85]:
df.rename(columns={'정규직합계' : '정규직비율'}, inplace=True)
df.rename(columns={'비정규직합계' : '비정규직비율'}, inplace=True)

In [6]:
pd.reset_option('display.max_rows', None)
df[['정규직비율', '비정규직비율']]

            정규직비율     비정규직비율
0      100.000000   0.000000
1      100.000000   0.000000
2      100.000000   0.000000
3      100.000000   0.000000
4      100.000000   0.000000
...           ...        ...
12380  100.000000   0.000000
12381   28.571429  71.428571
12382   98.701299   1.298701
12383  100.000000   0.000000
12384  100.000000   0.000000

[12385 rows x 2 columns]

In [86]:
df = df.round(3)

In [111]:
# df.to_csv('totaldata.csv', index=False, encoding='euc-kr')

---

# 6/20

In [87]:
df.rename(columns={'기업간 거래시 애로사항(1순위)' : '기업간 거래시 애로사항'}, inplace=True)

In [88]:
df['상장여부 및 향후계획'] = df['상장여부 및 향후계획'].astype(int)

In [89]:
df['대표이사_창업자여부'] = df['대표이사_창업자여부'].astype(int)

In [90]:
df['대표이사_이전근무지'] = df['대표이사_이전근무지'].astype(int, errors='ignore')

In [91]:
df.iloc[:, 10:19] = df.iloc[:, 10:19].astype(int, errors='ignore')

In [92]:
df.iloc[:, 24:26] = df.iloc[:, 24:26].astype(int, errors='ignore')

In [93]:
df['융자(정책)_경험여부'] = df['융자(정책)_경험여부'].astype(int, errors='ignore')

In [94]:
df.iloc[:,35:69] = df.iloc[:,35:69].astype(int, errors='ignore')

In [95]:
df['벤처확인 유형']

0        3
1        1
2        2
3        2
4        3
        ..
12380    2
12381    1
12382    2
12383    2
12384    2
Name: 벤처확인 유형, Length: 12385, dtype: int64

In [96]:
df[(df['벤처캐피털(투자조합포함) 투자 경험여부'] == 1) & (df['상장여부 및 향후계획'] == 1)]

,가중치,벤처확인 유형,회사주소_시(도),한국표준산업분류(KSIC)코드_10차,창업년도,기업성장단계,제조 및 비제조,상장여부 및 향후계획,대표이사_창업자여부,대표이사_이전근무지,...,부채비율,자기자본비율,순이익률,총자산회전율,자기자본회전율,ROE,영업이익률,이자보상배율,종사자생산성,전공과 업종 일치 여부
63,9.094,4,경기,C10501,1995,4,1,1,1,5.0,...,2.921,97.162,20.195,39.244,40.390,8.157,16.580,364800.000,31432.143,1.0
114,2.875,2,충남,C10795,2002,4,1,1,1,6.0,...,147.721,40.368,2.502,84.626,209.636,5.245,5.172,224.789,24674.251,2.0
364,6.833,2,경기,C20119,2009,3,1,1,1,5.0,...,97.662,50.591,-34.332,34.043,67.290,-23.102,-32.627,-976.238,18887.500,2.0
375,2.280,2,경기,C20129,2012,3,1,1,1,5.0,...,12.374,88.988,16.959,73.833,82.969,14.070,18.778,14508.824,44905.983,1.0
458,3.840,2,경기,C20422,2014,4,1,1,1,6.0,...,489.158,16.973,-8.657,124.707,734.721,-63.601,-10.782,-735.030,31190.411,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11929,3.184,4,서울,M70113,2010,2,1,1,1,1.0,...,17.638,85.006,-387.542,5.944,6.992,-27.098,-345.185,-540.717,2250.000,2.0
11935,2.449,3,서울,M70113,2001,3,4,1,2,1.0,...,51.454,66.027,0.511,95.376,144.450,0.738,5.717,3808.108,21431.304,2.0
11945,4.660,3,서울,M70129,2000,4,4,1,1,10.0,...,27.495,78.434,-2807.641,0.994,1.267,-35.579,-3087.375,-22126.190,537.500,1.0
12343,2.294,3,서울,M73909,1997,3,4,1,2,4.0,...,71.882,58.180,7.578,47.568,81.760,6.195,5.316,472.668,21143.750,1.0
12344,2.449,3,서울,M73909,1997,3,4,1,1,6.0,...,63.178,61.283,25.083,42.734,69.733,17.491,3.615,370.588,64962.727,2.0

In [97]:
df['벤처캐피털(투자조합포함) 투자 경험여부'].isna().sum()

0

---
데이터 수정

In [98]:
df['상장여부 및 향후계획'] = df['상장여부 및 향후계획'].replace([2,3,4,5], 2)
df['상장여부 및 향후계획'] = df['상장여부 및 향후계획'].replace(1, 1)

In [99]:
df['상장여부 및 향후계획'].value_counts()

2    11458
1      927
Name: 상장여부 및 향후계획, dtype: int64

In [100]:
df['창업 당시 창업자 최종학력'] = df['창업 당시 창업자 최종학력'].replace([5, 6], 5)

In [101]:
df['창업 당시 창업자 최종학력'].value_counts()

3    6875
2    2124
5    1448
1    1169
4     769
Name: 창업 당시 창업자 최종학력, dtype: int64

In [102]:
df.drop('현재 구인하기 어려운 직무(1순위)', axis=1, inplace=True)
df.drop('현재 구인하기 어려운 직무(2순위)', axis=1, inplace=True)

In [103]:
df['벤처캐피털(투자조합포함) 투자 경험여부'] = df['벤처캐피털(투자조합포함) 투자 경험여부'].replace([2,3,4], 2)

In [104]:
df['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts()

2.0    11468
1.0      917
Name: 벤처캐피털(투자조합포함) 투자 경험여부, dtype: int64

In [105]:
df.drop('인수합병 고려 여부', axis=1, inplace=True)

In [106]:
df.drop('기업간 거래시 애로사항', axis=1, inplace=True)

In [107]:
df.drop('연구개발관련전담부서보유여부', axis=1, inplace=True)

In [108]:
df['영업및마케팅방식'] = df['영업및마케팅방식'].replace([4,5], 4)

In [109]:
df['인력구성(관리)'] = pd.to_numeric(df['인력구성(관리)'], errors='coerce')
df['인력구성(합계)'] = pd.to_numeric(df['인력구성(합계)'], errors='coerce')

In [110]:
df['인력구성(관리)'] = (df['인력구성(관리)'] / df['인력구성(합계)'])*100
df['인력구성(생산)'] = (df['인력구성(생산)'] / df['인력구성(합계)'])*100
df['인력구성(영업)'] = (df['인력구성(영업)'] / df['인력구성(합계)'])*100
df['인력구성(RnD)'] = (df['인력구성(RnD)'] / df['인력구성(합계)'])*100
df['인력구성(기타)'] = (df['인력구성(기타)'] / df['인력구성(합계)'])*100

df.rename(columns={'인력구성(관리)': '부서별_인력구성(관리)'}, inplace=True)
df.rename(columns={'인력구성(생산)': '부서별_인력구성(생산)'}, inplace=True)
df.rename(columns={'인력구성(영업)': '부서별_인력구성(영업)'}, inplace=True)
df.rename(columns={'인력구성(RnD)': '부서별_인력구성(RnD)'}, inplace=True)
df.rename(columns={'인력구성(기타)': '부서별_인력구성(기타)'}, inplace=True)

In [112]:
df

,가중치,벤처확인 유형,회사주소_시(도),한국표준산업분류(KSIC)코드_10차,창업년도,기업성장단계,제조 및 비제조,상장여부 및 향후계획,대표이사_창업자여부,대표이사_이전근무지,...,부채비율,자기자본비율,순이익률,총자산회전율,자기자본회전율,ROE,영업이익률,이자보상배율,종사자생산성,전공과 업종 일치 여부
0,10.420,3,경기,A01110,2009,2,4,2,1,6.0,...,-1197.317,-9.113,-59100.000,0.056,-0.610,360.366,-45500.000,-255.331,27.778,2.0
1,3.484,1,광주,A01110,2010,4,4,2,1,6.0,...,266.224,27.306,3.063,182.613,668.771,20.487,4.289,417.742,120780.000,2.0
2,13.645,2,경남,A01122,2000,4,4,2,1,6.0,...,48.726,67.238,8.065,47.157,70.135,5.656,9.194,276.033,24220.000,1.0
3,1.832,2,서울,A01123,2004,3,2,1,1,6.0,...,170.242,37.004,-23.327,45.337,122.519,-28.580,-9.022,-217.814,8683.981,1.0
4,1.980,3,제주,A01123,1987,4,1,2,1,7.0,...,224.979,30.771,-2.477,65.278,212.139,-5.254,1.501,39.542,36284.211,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12380,3.184,2,서울,P85504,2002,4,4,2,1,6.0,...,1071.900,8.533,0.256,156.263,1831.248,4.683,1.260,138.427,58185.714,1.0
12381,2.061,1,서울,P85701,2012,3,4,2,1,6.0,...,106.479,48.431,0.315,365.586,754.860,2.376,0.315,137.500,2269.481,2.0
12382,3.184,2,경기,R90123,2009,4,4,2,1,6.0,...,1832.939,5.173,-0.511,72.974,1410.549,-7.212,2.755,63.112,17018.182,2.0
12383,20.471,2,서울,R90191,2015,2,2,2,1,6.0,...,72.626,57.929,3.206,837.864,1446.369,46.369,3.631,18800.000,64725.000,1.0
12384,6.940,2,서울,R90191,2015,2,2,2,1,6.0,...,98.185,50.458,7.881,478.534,948.382,74.743,9.113,21900.000,40053.333,2.0