In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [2]:
plt.rc('font', family='Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

In [7]:
df = pd.read_csv('../data/완성data/new_select_data.csv')
df.drop('벤처확인 유형', axis=1, inplace=True)

In [8]:
# 원하는 컬럼 순서 지정
col = ['부서별_인력구성(생산)', '부서별_인력구성(RnD)', '총자산회전율', '순이익률', 'ROE',
       '주력제품 국내 시장점유율(퍼센트)', '학력별 인력구성비(대졸)',
       '엔젤투자자 혹은 액셀러레이터 투자 경험여부', '창업 당시 창업자 최종학력', '창업 직전 근무지',
       '창업 당시 목표시장', '해외수출 및 진출과정 애로사항', '연구개발관련전담부서보유여부',
       '벤처캐피털(투자조합포함) 투자 경험여부']

# 컬럼 순서 변경
df = df.reindex(columns=col)

In [10]:
# df.to_csv('origin_anlysis_data_VC.csv', index=False)

In [3]:
df = pd.read_csv('../data/완성data/origin_anlysis_data_VC.csv')
df

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),엔젤투자자 혹은 액셀러레이터 투자 경험여부,창업 당시 창업자 최종학력,창업 직전 근무지,창업 당시 목표시장,해외수출 및 진출과정 애로사항,연구개발관련전담부서보유여부,벤처캐피털(투자조합포함) 투자 경험여부
0,0.000,40.000,0.056,-1739.260,360.366,1.00,46.667,0,3,6,1.0,2.0,1.0,1
1,0.000,20.000,182.613,3.063,20.487,1.00,20.000,0,4,6,1.0,8.0,3.0,0
2,0.000,13.333,47.157,8.065,5.656,10.00,13.333,0,2,6,1.0,4.0,1.0,0
3,26.627,23.669,55.927,-6.119,-13.836,30.00,20.000,0,2,6,3.0,3.0,1.0,0
4,28.182,22.727,69.228,-11.386,-16.891,30.00,20.000,0,2,6,3.0,2.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12379,0.000,36.364,78.543,-11.720,-26.679,0.01,81.818,0,3,6,1.0,1.0,1.0,0
12380,50.000,6.667,603.905,2.822,44.500,15.00,40.000,0,3,10,3.0,2.0,3.0,0
12381,0.000,1.923,385.063,-0.801,-15.723,1.00,48.077,0,3,6,1.0,5.0,1.0,0
12382,0.000,20.690,511.376,2.205,37.902,5.00,90.000,0,3,5,1.0,2.0,2.0,0
12383,0.000,2.632,385.063,-0.801,-15.723,15.00,21.711,0,3,5,1.0,7.0,1.0,0

In [12]:
a = df[df['벤처캐피털(투자조합포함) 투자 경험여부']==0]
b = df[df['벤처캐피털(투자조합포함) 투자 경험여부']==1]

In [13]:
print(len(a))
print(len(b))

11467
917

# 수치형 변수들

In [16]:
cat_df = df.iloc[:,0:7]
cat_df['벤처캐피털(투자조합포함) 투자 경험여부'] = df['벤처캐피털(투자조합포함) 투자 경험여부']

In [17]:
cat_df_a = cat_df[cat_df['벤처캐피털(투자조합포함) 투자 경험여부']==0]
cat_df_b = cat_df[cat_df['벤처캐피털(투자조합포함) 투자 경험여부']==1]

In [18]:
cat_a_desc = cat_df_a.describe()

cat_a_desc = pd.DataFrame(cat_a_desc)
cat_a_desc

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),벤처캐피털(투자조합포함) 투자 경험여부
count,11467.000000,11467.000000,11467.000000,11467.000000,11467.000000,11467.000000,11467.000000,11467.0
mean,35.179606,21.352163,132.491756,-8.388219,7.546469,10.478083,47.750284,0.0
std,26.268099,19.531841,130.686026,114.385938,124.269691,15.556511,24.375302,0.0
min,0.000000,0.000000,0.000000,-1739.260000,-1787.500000,0.000000,0.000000,0.0
25%,7.843000,7.692000,67.757500,0.977500,3.138500,1.000000,28.571000,0.0
50%,37.500000,15.385000,104.538000,3.390000,10.241000,5.000000,44.444000,0.0
75%,57.200500,29.730000,159.014000,7.397000,20.899000,10.000000,66.667000,0.0
max,100.000000,100.000000,1868.724000,175.477000,1112.500000,100.000000,100.000000,0.0

In [19]:
cat_b_desc = cat_df_b.describe()

cat_b_desc = pd.DataFrame(cat_b_desc)
cat_b_desc

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),벤처캐피털(투자조합포함) 투자 경험여부
count,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.0
mean,27.111468,25.421239,95.389914,-73.110736,-19.147629,15.450218,54.359091,1.0
std,24.427932,21.964548,110.016536,281.216658,201.694165,19.197304,23.405698,0.0
min,0.000000,0.000000,0.000000,-1739.260000,-1787.500000,0.000000,0.000000,1.0
25%,1.316000,8.955000,45.268000,-20.984000,-21.993000,2.000000,37.500000,1.0
50%,22.222000,18.657000,74.709000,1.106000,3.833000,8.000000,53.000000,1.0
75%,48.718000,38.095000,119.463000,6.530000,14.538000,20.000000,71.000000,1.0
max,96.296000,100.000000,1868.724000,175.477000,1112.500000,100.000000,100.000000,1.0

> 부서별 인력구성

In [20]:
depart_rate = pd.DataFrame(index=cat_b_desc.index)

depart_rate['부서별_인력구성(생산)_0'] = cat_a_desc['부서별_인력구성(생산)']
depart_rate['부서별_인력구성(생산)_1'] = cat_b_desc['부서별_인력구성(생산)']
depart_rate['부서별_인력구성(RnD)_0'] = cat_a_desc['부서별_인력구성(RnD)']
depart_rate['부서별_인력구성(RnD)_1'] = cat_b_desc['부서별_인력구성(RnD)']

depart_rate

       부서별_인력구성(생산)_0  부서별_인력구성(생산)_1  부서별_인력구성(RnD)_0  부서별_인력구성(RnD)_1
count    11467.000000      917.000000     11467.000000       917.000000
mean        35.179606       27.111468        21.352163        25.421239
std         26.268099       24.427932        19.531841        21.964548
min          0.000000        0.000000         0.000000         0.000000
25%          7.843000        1.316000         7.692000         8.955000
50%         37.500000       22.222000        15.385000        18.657000
75%         57.200500       48.718000        29.730000        38.095000
max        100.000000       96.296000       100.000000       100.000000

> 재무비율

In [21]:
financial_rate = pd.DataFrame(index=cat_b_desc.index)

financial_rate['총자산회전율_0'] = cat_a_desc['총자산회전율']
financial_rate['총자산회전율_1'] = cat_b_desc['총자산회전율']
financial_rate['순이익률_0'] = cat_a_desc['순이익률']
financial_rate['순이익률_1'] = cat_b_desc['순이익률']
financial_rate['ROE_0'] = cat_a_desc['ROE']
financial_rate['ROE_1'] = cat_b_desc['ROE']

financial_rate

,총자산회전율_0,총자산회전율_1,순이익률_0,순이익률_1,ROE_0,ROE_1
count,11467.000000,917.000000,11467.000000,917.000000,11467.000000,917.000000
mean,132.491756,95.389914,-8.388219,-73.110736,7.546469,-19.147629
std,130.686026,110.016536,114.385938,281.216658,124.269691,201.694165
min,0.000000,0.000000,-1739.260000,-1739.260000,-1787.500000,-1787.500000
25%,67.757500,45.268000,0.977500,-20.984000,3.138500,-21.993000
50%,104.538000,74.709000,3.390000,1.106000,10.241000,3.833000
75%,159.014000,119.463000,7.397000,6.530000,20.899000,14.538000
max,1868.724000,1868.724000,175.477000,175.477000,1112.500000,1112.500000

> 국내 시장점유율(퍼센트)

In [22]:
market_share = pd.DataFrame(index=cat_b_desc.index)

market_share['주력제품 국내 시장점유율(퍼센트)_0'] = cat_a_desc['주력제품 국내 시장점유율(퍼센트)']
market_share['주력제품 국내 시장점유율(퍼센트)_1'] = cat_b_desc['주력제품 국내 시장점유율(퍼센트)']

market_share

       주력제품 국내 시장점유율(퍼센트)_0  주력제품 국내 시장점유율(퍼센트)_1
count          11467.000000            917.000000
mean              10.478083             15.450218
std               15.556511             19.197304
min                0.000000              0.000000
25%                1.000000              2.000000
50%                5.000000              8.000000
75%               10.000000             20.000000
max              100.000000            100.000000

> 학력별 인력구성비율

In [23]:
education_rate = pd.DataFrame(index=cat_b_desc.index)

education_rate['학력별 인력구성비(대졸)_0'] = cat_a_desc['학력별 인력구성비(대졸)']
education_rate['학력별 인력구성비(대졸)_1'] = cat_b_desc['학력별 인력구성비(대졸)']

education_rate

       학력별 인력구성비(대졸)_0  학력별 인력구성비(대졸)_1
count     11467.000000       917.000000
mean         47.750284        54.359091
std          24.375302        23.405698
min           0.000000         0.000000
25%          28.571000        37.500000
50%          44.444000        53.000000
75%          66.667000        71.000000
max         100.000000       100.000000

---

In [12]:
df = pd.read_csv('../data/완성data/벤처_data.csv')
df

,엔젤투자자 혹은 액셀러레이터 투자 경험여부,창업 당시 창업자 실무경험 년수(년),창업 직전 근무지,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,이자보상배율,주력제품 국내 시장점유율(퍼센트),주력제품 해외 시장점유율(퍼센트),학력별 인력구성비(대졸),창업 당시 목표시장,해외수출 및 진출과정 애로사항,벤처캐피털(투자조합포함) 투자 경험여부
0,0,4.0,6,0.000,40.000,0.056,-1739.260,-255.331,1.00,0.0,46.667,1.0,2.0,1
1,0,10.0,6,0.000,20.000,182.613,3.063,417.742,1.00,0.0,20.000,1.0,8.0,0
2,0,7.0,6,0.000,13.333,47.157,8.065,276.033,10.00,0.0,13.333,1.0,4.0,0
3,0,25.0,6,26.627,23.669,55.927,-6.119,14.706,30.00,5.0,20.000,3.0,3.0,0
4,0,25.0,6,28.182,22.727,69.228,-11.386,-102.653,30.00,0.0,20.000,3.0,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12379,0,12.0,6,0.000,36.364,78.543,-11.720,-1784.615,0.01,0.0,81.818,1.0,1.0,0
12380,0,0.0,10,50.000,6.667,603.905,2.822,1323.077,15.00,0.0,40.000,3.0,2.0,0
12381,0,20.0,6,0.000,1.923,385.063,-0.801,-101.471,1.00,0.0,48.077,1.0,5.0,0
12382,0,15.0,5,0.000,20.690,511.376,2.205,1009.924,5.00,0.0,90.000,1.0,2.0,0
12383,0,8.0,5,0.000,2.632,385.063,-0.801,-101.471,15.00,0.0,21.711,1.0,7.0,0

> 이자보상배율

1. 중간값 기준 비교

In [18]:
df.sort_values('이자보상배율', ascending=False, inplace=True)
median_value = df['이자보상배율'].median()

In [36]:
# 이자보상배율이 중간값보다 작은 경우
a = df[df['이자보상배율'] <= median_value]

# 이자보상배율이 중간값보다 큰 경우
b = df[df['이자보상배율'] > median_value]

In [37]:
len(a[a['벤처캐피털(투자조합포함) 투자 경험여부'] == 1])

584

In [38]:
len(b[b['벤처캐피털(투자조합포함) 투자 경험여부'] == 1])

333

In [39]:
import pandas as pd

def split_dataframe_by_median(df, column):
    df1 = df.copy()
    df1.sort_values(by=column, ascending=True, inplace=True)
    median = df1[column].median()
    data1 = df1[df1[column] <= median]
    data2 = df1[df1[column] > median]
    count1 = data1['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts()
    count2 = data2['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts()

    return data1, data2, count1, count2

# 함수 사용 예시
df1 = df[['이자보상배율', '벤처캐피털(투자조합포함) 투자 경험여부']]
data1, data2, count1, count2 = split_dataframe_by_median(df1, '이자보상배율')
target_rate1 = (len(data1[data1['벤처캐피털(투자조합포함) 투자 경험여부']==1])) / (data1['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts().sum())
target_rate2 = (len(data2[data2['벤처캐피털(투자조합포함) 투자 경험여부']==1])) / (data2['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts().sum())

# 결과 출력

print("Data1 Value Counts:\n", count1)
print("Data2 Value Counts:\n", count2)
print("Data1의 1 비율 :", target_rate1)
print("Data2의 1 비율 :", target_rate2)

Data1 Value Counts:
 0    5609
1     584
Name: 벤처캐피털(투자조합포함) 투자 경험여부, dtype: int64
Data2 Value Counts:
 0    5858
1     333
Name: 벤처캐피털(투자조합포함) 투자 경험여부, dtype: int64
Data1의 1 비율 : 0.09430001614726304
Data2의 1 비율 : 0.053787756420610566

In [ ]:
import pandas as pd

def split_dataframe_by_median(df, column):
    df1 = df.copy()
    df1.sort_values(by=column, ascending=True, inplace=True)
    median = df1[column].median()
    data1 = df1[df1[column] <= median]
    data2 = df1[df1[column] > median]
    count1 = data1['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts()
    count2 = data2['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts()

    return data1, data2, count1, count2

# 함수 사용 예시
df1 = df[['이자보상배율', '벤처캐피털(투자조합포함) 투자 경험여부']]
data1, data2, count1, count2 = split_dataframe_by_median(df1, '이자보상배율')
target_rate1 = (len(data1[data1['벤처캐피털(투자조합포함) 투자 경험여부']==1])) / (data1['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts().sum())
target_rate2 = (len(data2[data2['벤처캐피털(투자조합포함) 투자 경험여부']==1])) / (data2['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts().sum())

# 결과 출력

print("Data1 Value Counts:\n", count1)
print("Data2 Value Counts:\n", count2)
print("Data1의 1 비율 :", target_rate1)
print("Data2의 1 비율 :", target_rate2)