In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/완성data/new_select_data.csv')

In [3]:
df.drop(columns=['벤처확인 유형'], inplace=True)

feature selection 후 data
- Min&Max Scaling X
- One Hot Encoding X

1. 범주형 변수

In [35]:
# 엔젤투자자 혹은 액셀러레이터 투자 경험여부
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==1]
a["엔젤투자자 혹은 액셀러레이터 투자 경험여부"].value_counts()

0    722
1    195
Name: 엔젤투자자 혹은 액셀러레이터 투자 경험여부, dtype: int64

In [33]:
print(772/917)
print(195/917)

0.8418756815703381
0.21264994547437296

In [39]:
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==0]
a["엔젤투자자 혹은 액셀러레이터 투자 경험여부"].value_counts()

0    11228
1      239
Name: 엔젤투자자 혹은 액셀러레이터 투자 경험여부, dtype: int64

In [41]:
print(11228/114467)
print(239/11467)

0.09808940568023972
0.020842417371588037

In [42]:
y = df[df['엔젤투자자 혹은 액셀러레이터 투자 경험여부']==1]
z = df[df['엔젤투자자 혹은 액셀러레이터 투자 경험여부']==0]

y['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts()

0    239
1    195
Name: 벤처캐피털(투자조합포함) 투자 경험여부, dtype: int64

In [45]:
195/434

0.44930875576036866

In [43]:
z['벤처캐피털(투자조합포함) 투자 경험여부'].value_counts()

0    11228
1      722
Name: 벤처캐피털(투자조합포함) 투자 경험여부, dtype: int64

In [47]:
722/11950

0.060418410041841

In [37]:
# 창업 당시 창업자 최종학력
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==1]
a["창업 당시 창업자 최종학력"].value_counts()

3    466
1    210
2    180
5     43
4     18
Name: 창업 당시 창업자 최종학력, dtype: int64

In [7]:
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==0]
a["창업 당시 창업자 최종학력"].value_counts()

3    6408
2    1944
5    1405
1     959
4     751
Name: 창업 당시 창업자 최종학력, dtype: int64

In [17]:
# 창업 직전 근무지
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==1]
a["창업 직전 근무지"].value_counts()

6     375
5     283
7      57
1      49
4      44
3      41
10     35
2      13
9      12
8       8
Name: 창업 직전 근무지, dtype: int64

In [18]:
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==0]
a["창업 직전 근무지"].value_counts()

6     7114
5     2333
7      657
10     332
3      221
4      203
9      201
1      187
8      161
2       58
Name: 창업 직전 근무지, dtype: int64

In [10]:
# 창업 당시 목표시장
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==1]
a["창업 당시 목표시장"].value_counts()

3.0    571
1.0    318
2.0     28
Name: 창업 당시 목표시장, dtype: int64

In [19]:
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==0]
a["창업 당시 목표시장"].value_counts()

1.0    5700
3.0    5662
2.0     105
Name: 창업 당시 목표시장, dtype: int64

In [12]:
# 해외수출 및 진출과정 애로사항
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==1]
a["해외수출 및 진출과정 애로사항"].value_counts()

3.0    201
2.0    174
4.0    174
7.0    125
5.0     98
1.0     63
8.0     45
6.0     37
Name: 해외수출 및 진출과정 애로사항, dtype: int64

In [13]:
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==0]
a["해외수출 및 진출과정 애로사항"].value_counts()

3.0    2994
2.0    2332
4.0    1894
1.0    1442
5.0    1108
7.0     847
8.0     538
6.0     312
Name: 해외수출 및 진출과정 애로사항, dtype: int64

In [14]:
# 연구개발관련전담부서보유여부
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==1]
a["연구개발관련전담부서보유여부"].value_counts()

1.0    755
2.0     65
3.0     63
4.0     34
Name: 연구개발관련전담부서보유여부, dtype: int64

In [15]:
a = df[df["벤처캐피털(투자조합포함) 투자 경험여부"]==0]
a["연구개발관련전담부서보유여부"].value_counts()

1.0    8765
2.0    1077
3.0     851
4.0     774
Name: 연구개발관련전담부서보유여부, dtype: int64

2. 비율 & 수치형 변수

In [26]:
a = df[['부서별_인력구성(생산)',
 '부서별_인력구성(RnD)',
 '총자산회전율',
 '순이익률',
 'ROE',
 '주력제품 국내 시장점유율(퍼센트)',
 '학력별 인력구성비(대졸)',
 '벤처캐피털(투자조합포함) 투자 경험여부']]

In [27]:
a[a["벤처캐피털(투자조합포함) 투자 경험여부"]==1].describe()

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),벤처캐피털(투자조합포함) 투자 경험여부
count,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.0
mean,27.111468,25.421239,95.389914,-73.110736,-19.147629,15.450218,54.359091,1.0
std,24.427932,21.964548,110.016536,281.216658,201.694165,19.197304,23.405698,0.0
min,0.000000,0.000000,0.000000,-1739.260000,-1787.500000,0.000000,0.000000,1.0
25%,1.316000,8.955000,45.268000,-20.984000,-21.993000,2.000000,37.500000,1.0
50%,22.222000,18.657000,74.709000,1.106000,3.833000,8.000000,53.000000,1.0
75%,48.718000,38.095000,119.463000,6.530000,14.538000,20.000000,71.000000,1.0
max,96.296000,100.000000,1868.724000,175.477000,1112.500000,100.000000,100.000000,1.0

In [28]:
a[a["벤처캐피털(투자조합포함) 투자 경험여부"]==0].describe()

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),벤처캐피털(투자조합포함) 투자 경험여부
count,11467.000000,11467.000000,11467.000000,11467.000000,11467.000000,11467.000000,11467.000000,11467.0
mean,35.179606,21.352163,132.491756,-8.388219,7.546469,10.478083,47.750284,0.0
std,26.268099,19.531841,130.686026,114.385938,124.269691,15.556511,24.375302,0.0
min,0.000000,0.000000,0.000000,-1739.260000,-1787.500000,0.000000,0.000000,0.0
25%,7.843000,7.692000,67.757500,0.977500,3.138500,1.000000,28.571000,0.0
50%,37.500000,15.385000,104.538000,3.390000,10.241000,5.000000,44.444000,0.0
75%,57.200500,29.730000,159.014000,7.397000,20.899000,10.000000,66.667000,0.0
max,100.000000,100.000000,1868.724000,175.477000,1112.500000,100.000000,100.000000,0.0

In [29]:
b = a[a['벤처캐피털(투자조합포함) 투자 경험여부']==1]

In [30]:
c = a[a['벤처캐피털(투자조합포함) 투자 경험여부']==0]

In [31]:
b.sort_values('순이익률',ascending=False)[:30]

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),벤처캐피털(투자조합포함) 투자 경험여부
11453,0.000,66.667,1868.724,175.477,1112.500,0.10,33.333,1
8894,2.727,0.000,6.737,175.477,41.998,0.50,61.000,1
5227,0.000,60.000,1868.724,175.477,1112.500,1.00,60.000,1
9405,40.000,40.000,52.866,49.799,68.508,50.00,100.000,1
11345,39.189,16.216,45.928,48.352,61.341,5.00,70.270,1
10367,11.111,77.778,82.242,47.148,45.062,5.00,62.000,1
4535,31.579,21.053,4.739,46.364,3.453,10.00,26.000,1
10246,0.000,0.000,21.085,41.747,9.077,20.98,95.455,1
11584,0.000,0.000,28.211,41.576,13.614,50.00,11.628,1
1078,14.493,50.725,23.853,41.239,10.280,0.00,72.000,1
11362,0.000,100.000,132.884,40.228,85.676,70.00,67.000,1
2531,56.757,16.216,95.233,38.353,80.018,50.00,39.000,1
2361,80.000,0.000,50.826,37.906,19.811,10.00,20.000,1
1402,35.484,38.710,57.172,34.240,24.538,30.00,55.000,1
9834,0.000,41.860,137.656,30.664,214.286,4.00,60.465,1
7887,13.725,0.000,75.147,28.717,24.177,30.00,80.000,1
5485,64.516,11.290,91.694,28.002,30.660,5.00,22.000,1
6845,40.000,10.000,62.921,27.349,26.488,42.00,26.000,1
3251,66.154,16.923,54.774,27.205,17.610,0.01,61.538,1
12261,0.000,0.000,42.734,25.083,17.491,5.00,44.000,1
4196,52.381,27.381,92.083,25.005,26.150,3.00,35.714,1
5449,59.649,12.281,81.475,24.908,22.640,0.00,25.000,1
5442,15.789,28.070,105.538,24.845,42.063,1.00,72.000,1
11189,61.719,3.906,45.800,24.465,12.421,12.00,97.000,1
1563,67.045,18.182,92.129,24.355,27.462,5.00,29.900,1
5127,64.444,11.111,57.441,24.289,16.142,5.00,75.556,1
2798,53.395,10.494,54.314,24.279,27.582,42.00,26.100,1
11194,13.333,0.000,64.489,24.068,17.493,10.00,92.079,1
6905,17.857,7.143,90.675,23.865,23.836,15.00,42.857,1
9483,14.000,0.000,64.291,23.719,21.069,50.00,97.000,1

In [32]:
b.sort_values('순이익률',ascending=True)[:30]

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),벤처캐피털(투자조합포함) 투자 경험여부
0,0.000,40.000,0.056,-1739.260,360.366,1.00,46.667,1
11479,0.000,50.000,0.994,-1739.260,-35.579,0.30,68.000,1
11455,9.091,6.061,0.466,-1739.260,-41.171,5.00,77.000,1
11448,0.000,66.667,0.000,-1739.260,-20.222,1.22,0.000,1
9933,0.000,45.714,0.232,-1739.260,-31.256,0.00,78.571,1
10127,0.000,6.667,2.725,-1739.260,-251.607,0.01,83.333,1
10169,20.000,46.667,0.777,-1739.260,-145.455,1.00,73.333,1
11394,0.000,91.892,0.082,-1739.260,-1653.241,1.22,78.378,1
8843,6.977,9.302,1.124,-1739.260,-240.909,2.00,90.000,1
2835,31.579,47.368,1.118,-1739.260,-46.408,10.00,27.000,1
11489,0.000,50.000,2.999,-1739.260,-122.528,1.00,66.667,1
1624,0.000,87.500,0.147,-1739.260,-9.433,0.01,37.500,1
4772,0.000,57.143,0.000,-1739.260,-18.683,0.01,14.286,1
5242,17.647,5.882,1.668,-1739.260,-64.709,5.00,76.000,1
1580,22.222,66.667,2.667,-1739.260,-177.039,1.00,33.333,1
1585,18.868,56.604,3.288,-1739.260,61.300,2.00,39.623,1
1606,0.000,50.000,1.407,-1739.260,-267.468,10.00,40.000,1
1403,30.000,43.750,0.473,-1739.260,-17.052,8.00,50.000,1
1441,14.286,28.571,0.000,-1739.260,-20.462,0.00,14.000,1
4506,25.000,31.250,3.385,-1595.294,-180.319,10.00,88.000,1
4146,0.000,58.333,1.283,-1433.333,-46.841,10.00,33.000,1
252,0.000,0.000,23.239,-1209.091,31.591,0.73,100.000,1
11350,12.903,0.000,6.184,-1072.396,-90.745,5.00,79.000,1
11375,50.000,46.552,3.940,-1047.236,-113.731,0.00,94.000,1
4263,25.000,0.000,14.563,-955.556,349.593,0.00,100.000,1
1614,18.182,54.545,4.903,-944.363,-55.511,2.53,33.333,1
1290,50.000,25.000,2.192,-920.408,-55.886,1.00,43.000,1
2166,27.273,27.273,4.707,-897.768,-67.303,0.00,45.000,1
1554,26.316,52.632,3.188,-764.625,-25.063,10.00,11.000,1
4565,14.062,65.625,5.042,-726.846,-57.408,1.00,47.000,1

In [49]:
c.sort_values('순이익률',ascending=False)[:30]

,부서별_인력구성(생산),부서별_인력구성(RnD),총자산회전율,순이익률,ROE,주력제품 국내 시장점유율(퍼센트),학력별 인력구성비(대졸),벤처캐피털(투자조합포함) 투자 경험여부
7205,77.778,0.000,0.575,175.477,4.599,10.00,22.222,0
11318,12.500,37.500,21.466,175.477,525.000,5.00,86.000,0
9962,0.000,45.455,3.403,175.477,19.259,0.01,81.818,0
7228,0.000,66.667,1868.724,175.477,1112.500,0.10,66.667,0
11171,0.000,16.667,1.539,175.477,60.089,0.20,61.111,0
11740,0.000,100.000,1868.724,175.477,1112.500,0.10,0.000,0
3273,33.333,0.000,1868.724,175.477,1112.500,5.00,100.000,0
653,61.538,0.000,1868.724,175.477,1112.500,0.10,23.077,0
4823,61.667,10.000,22.826,175.477,46.257,15.00,25.000,0
6562,71.429,14.286,1868.724,175.477,1112.500,5.00,42.857,0
7058,20.000,50.000,1868.724,175.477,1112.500,3.00,40.000,0
3419,11.111,11.111,1868.724,175.477,1112.500,9.25,44.444,0
1240,20.000,40.000,1868.724,175.477,1112.500,4.00,40.000,0
4024,0.000,33.333,1868.724,175.477,1112.500,1.00,33.333,0
4159,54.545,18.182,9.722,175.477,49.095,7.00,30.000,0
4773,52.632,0.000,1868.724,175.477,1112.500,20.00,36.842,0
10944,0.000,8.800,170.178,149.280,-1365.051,0.00,92.000,0
20,25.000,50.000,8.559,144.796,86.957,0.10,50.000,0
11378,0.000,75.000,4.528,108.696,5.624,1.00,50.000,0
2511,80.000,0.000,7.763,97.033,9.146,50.00,0.000,0
12092,0.000,75.000,44.898,86.364,38.776,50.00,50.000,0
7913,83.333,0.000,83.133,85.935,80.758,9.00,11.111,0
7880,37.500,37.500,10.548,84.416,31.863,0.10,62.500,0
9133,6.250,81.250,61.926,81.301,60.469,3.00,20.000,0
4940,33.333,33.333,30.403,80.952,44.821,0.10,66.667,0
11393,46.667,26.667,22.010,80.797,28.923,0.01,25.000,0
11278,3.226,0.000,0.127,80.000,0.112,3.00,90.000,0
1098,18.182,36.364,4.016,78.328,8.380,5.00,64.000,0
4352,16.667,50.000,9.547,75.000,18.405,0.01,33.333,0
4756,20.000,20.000,74.933,67.616,500.000,1.00,60.000,0